<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Robot.Localization.Simulation.SizeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Robot.Localization.Simulation.SizeSettings>
            <setting name="Field_A" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="Field_B" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="Field_C" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Field_D" serializeAs="String">
                <value>260</value>
            </setting>
            <setting name="Field_E" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Field_F" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Field_G" serializeAs="String">
                <value>210</value>
            </setting>
            <setting name="Field_H" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="Field_I" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="Robot_Radius" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Particle_Radius" serializeAs="String">
                <value>5</value>
            </setting>
        </Robot.Localization.Simulation.SizeSettings>
    </userSettings>
</configuration>